nav {
    background: linear-gradient(to right, #428ab9, #4076e9);
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  h1 {
    margin: 5px;
    padding: 0px;
    color: white;
  }
  

  
  