.form{box-shadow: 0 0 25px #ccc;
    background-color: #ffffff;
    padding: 20px 30px;}

    button.btn.btn-primary {
        display: inline-block;
        width: auto;
        padding: 5px;
        font-size: 12px;
        background: green;
        border: 1px solid green;
        border-radius: 3px;
        color: #fff;
    }
    .saveBtn{
        border: 2px #000 solid;
    border-color: #ef1e1e;
    background: #4997cc;
    margin-right: 10px;
    margin-left: 20px;
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
    padding: 6px 30px;
    }

    .back{border: 2px #000 solid;
        border-color: #ef1e1e;
        background: #c62a2a;
        margin-right: 10px;
        margin-left: 20px;
        color: #fff;
        font-size: 20px;
        margin-top: 20px;
        padding: 6px 30px;}